@media screen and (min-width: 480px) {
body {
}
  /******************************************
  two column layout
**************************************************************/

 #primary {
      width: 30%
      float: left
}

secondary {
  width: 40%;
  float: right;
}
	
/********************************
page: porfolio 3 * 5= 15%
100-15=85
85 / 3= 28.3333% 
**************************/

#gallery li {
  width: 28.3333%;
}

gallery li:ntn-child(4n) {
  clear: center;
}

/********************************
page: about
**************************/

.profile-photo {
  float: left;
  margin: 0 5% 80px 0;
	background: none;
}

@media screen and (min-width: 660px) {
  
	}
 /*****************************************
  header
*****************************************************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
#logo {
   float: left;
   margin-left: 5%;
   text-align: left;
   width: 25%;
  }
  
h1 {
    font-size: 2.5em;
  }
  
h2 {
    font-size: 0.025em;
    margin-bottom: 20px;
  }
  
header {
    border-bottom: 5px solid cyan;
    margin-bottom: 60px;
  }
  